# Data import

In [78]:
#Loading all relevant packages
#!pip install pandas

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from datetime import datetime
import seaborn as sns

In [79]:
#As we have separate files for each year, we need to navigate to the four relevant filepaths
filename1 = 'data/2019/Unfallorte2019_LinRef.txt'
filename2 = 'data/2018/Unfallorte2018_LinRef.txt'
filename3 = 'data/2017/Unfallorte2017_LinRef.txt'
filename4 = 'data/2016/Unfallorte_2016_LinRef.txt'

In [80]:
#Importing the txt-files. As the data was published in Germany, we need to set the decimal as a comma. Seperate lines to avoid error message
df_2019 = pd.read_csv(filename1, delimiter=';',decimal=',')

In [81]:
df_2018 = pd.read_csv(filename2, delimiter=';',decimal=',')

In [82]:
df_2017 = pd.read_csv(filename3, delimiter=';',decimal=',')

C:\ProgramData\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3146: DtypeWarning: Columns (1) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [83]:
df_2016 = pd.read_csv(filename4, delimiter=';',decimal=',')

#Data inspection

In [84]:
#Data was read in successfully, data types are corecct, column number and names differ between years 
#24 columns for year 2019: "Ist_Sonstige" is named differently than in other years
df_2019.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 268370 entries, 0 to 268369
Data columns (total 24 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   OBJECTID     268370 non-null  int64
 1   ULAND        268370 non-null  int64
 2   UREGBEZ      268370 non-null  int64
 3   UKREIS       268370 non-null  int64
 4   UGEMEINDE    268370 non-null  int64
 5   UJAHR        268370 non-null  int64
 6   UMONAT       268370 non-null  int64
 7   USTUNDE      268370 non-null  int64
 8   UWOCHENTAG   268370 non-null  int64
 9   UKATEGORIE   268370 non-null  int64
 10  UART         268370 non-null  int64
 11  UTYP1        268370 non-null  int64
 12  ULICHTVERH   268370 non-null  int64
 13  IstRad       268370 non-null  int64
 14  IstPKW       268370 non-null  int64
 15  IstFuss      268370 non-null  int64
 16  IstKrad      268370 non-null  int64
 17  IstGkfz      268370 non-null  int64
 18  IstSonstige  268370 non-null  int64
 19  LINREFX      268370 non-null  object
 20  LINREFY      268370 non-null  object
 21  XGCSWGS84    268370 non-null  object
 22  YGCSWGS84    268370 non-null  object
 23  STRZUSTAND   268370 non-null  int64
dtypes: int64(20), object(4)
memory usage: 49.1+ MB

In [85]:
#Checking the basic decriptive information about variables; information matches the provided meta data sheet ("DSB_Unfallatlas.pdf")
df_2019.describe()

,OBJECTID,ULAND,UREGBEZ,UKREIS,UGEMEINDE,UJAHR,UMONAT,USTUNDE,UWOCHENTAG,UKATEGORIE,UART,UTYP1,ULICHTVERH,IstRad,IstPKW,IstFuss,IstKrad,IstGkfz,IstSonstige,STRZUSTAND
count,268370.000000,268370.000000,268370.000000,268370.000000,268370.000000,268370.0,268370.000000,268370.000000,268370.000000,268370.000000,268370.000000,268370.000000,268370.000000,268370.000000,268370.000000,268370.000000,268370.00000,268370.000000,268370.000000,268370.000000
mean,134185.500000,7.282833,2.853404,41.665525,63.106573,2019.0,6.701714,13.249048,4.104196,2.793207,3.891117,3.844640,0.441573,0.277784,0.804162,0.094262,0.13841,0.050143,0.098878,0.282185
std,77471.890209,3.585170,2.457828,25.923244,107.834334,0.0,3.266014,4.786792,1.867870,0.428173,2.560706,2.116382,0.796565,0.447907,0.396845,0.292193,0.34533,0.218241,0.298499,0.490314
min,1.000000,1.000000,0.000000,1.000000,0.000000,2019.0,1.000000,0.000000,1.000000,1.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000
25%,67093.250000,5.000000,1.000000,15.000000,0.000000,2019.0,4.000000,10.000000,3.000000,3.000000,2.000000,2.000000,0.000000,0.000000,1.000000,0.000000,0.00000,0.000000,0.000000,0.000000
50%,134185.500000,7.000000,3.000000,41.000000,16.000000,2019.0,7.000000,14.000000,4.000000,3.000000,4.000000,3.000000,0.000000,0.000000,1.000000,0.000000,0.00000,0.000000,0.000000,0.000000
75%,201277.750000,9.000000,4.000000,62.000000,89.000000,2019.0,9.000000,17.000000,6.000000,3.000000,5.000000,6.000000,0.000000,1.000000,1.000000,0.000000,0.00000,0.000000,0.000000,1.000000
max,268370.000000,16.000000,9.000000,91.000000,718.000000,2019.0,12.000000,23.000000,7.000000,3.000000,9.000000,7.000000,2.000000,1.000000,1.000000,1.000000,1.00000,1.000000,1.000000,2.000000

In [86]:
#24 columns for year 2018, "OBJECTID" is named differently than in other years
df_2018.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 211868 entries, 0 to 211867
Data columns (total 24 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   OBJECTID_1  211868 non-null  int64
 1   ULAND       211868 non-null  int64
 2   UREGBEZ     211868 non-null  int64
 3   UKREIS      211868 non-null  int64
 4   UGEMEINDE   211868 non-null  int64
 5   UJAHR       211868 non-null  int64
 6   UMONAT      211868 non-null  int64
 7   USTUNDE     211868 non-null  int64
 8   UWOCHENTAG  211868 non-null  int64
 9   UKATEGORIE  211868 non-null  int64
 10  UART        211868 non-null  int64
 11  UTYP1       211868 non-null  int64
 12  ULICHTVERH  211868 non-null  int64
 13  IstRad      211868 non-null  int64
 14  IstPKW      211868 non-null  int64
 15  IstFuss     211868 non-null  int64
 16  IstKrad     211868 non-null  int64
 17  IstGkfz     211868 non-null  int64
 18  IstSonstig  211868 non-null  int64
 19  STRZUSTAND  211868 non-null  int64
 20  LINREFX     211868 non-null  object
 21  LINREFY     211868 non-null  object
 22  XGCSWGS84   211868 non-null  object
 23  YGCSWGS84   211868 non-null  object
dtypes: int64(20), object(4)
memory usage: 38.8+ MB

In [87]:
#24 columns for year 2017, "IstGkfz" is missing, "UIDENTSTLA" is redundant, "LICHT" is named differently
df_2017.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 195229 entries, 0 to 195228
Data columns (total 24 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   OBJECTID    195229 non-null  int64
 1   UIDENTSTLA  195229 non-null  object
 2   ULAND       195229 non-null  int64
 3   UREGBEZ     195229 non-null  int64
 4   UKREIS      195229 non-null  int64
 5   UGEMEINDE   195229 non-null  int64
 6   UJAHR       195229 non-null  int64
 7   UMONAT      195229 non-null  int64
 8   USTUNDE     195229 non-null  int64
 9   UWOCHENTAG  195229 non-null  int64
 10  UKATEGORIE  195229 non-null  int64
 11  UART        195229 non-null  int64
 12  UTYP1       195229 non-null  int64
 13  IstRad      195229 non-null  int64
 14  IstPKW      195229 non-null  int64
 15  IstFuss     195229 non-null  int64
 16  IstKrad     195229 non-null  int64
 17  IstSonstig  195229 non-null  int64
 18  LICHT       195229 non-null  int64
 19  STRZUSTAND  195229 non-null  int64
 20  LINREFX     195229 non-null  object
 21  LINREFY     195229 non-null  object
 22  XGCSWGS84   195229 non-null  object
 23  YGCSWGS84   195229 non-null  object
dtypes: int64(19), object(5)
memory usage: 35.7+ MB

In [88]:
#25 columns for year 2016, "FID" is redundand
df_2016.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 151673 entries, 0 to 151672
Data columns (total 25 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   FID         151673 non-null  int64
 1   OBJECTID    151673 non-null  int64
 2   ULAND       151673 non-null  int64
 3   UREGBEZ     151673 non-null  int64
 4   UKREIS      151673 non-null  int64
 5   UGEMEINDE   151673 non-null  int64
 6   UJAHR       151673 non-null  int64
 7   UMONAT      151673 non-null  int64
 8   USTUNDE     151673 non-null  int64
 9   UWOCHENTAG  151673 non-null  int64
 10  UKATEGORIE  151673 non-null  int64
 11  UART        151673 non-null  int64
 12  UTYP1       151673 non-null  int64
 13  ULICHTVERH  151673 non-null  int64
 14  IstStrasse  151673 non-null  int64
 15  IstRad      151673 non-null  int64
 16  IstPKW      151673 non-null  int64
 17  IstFuss     151673 non-null  int64
 18  IstKrad     151673 non-null  int64
 19  IstGkfz     151673 non-null  int64
 20  IstSonstig  151673 non-null  int64
 21  LINREFX     151673 non-null  object
 22  LINREFY     151673 non-null  object
 23  XGCSWGS84   151673 non-null  object
 24  YGCSWGS84   151673 non-null  object
dtypes: int64(21), object(4)
memory usage: 28.9+ MB

#Adjusting structure of individual data sheets

In [89]:
df_2019.rename(columns={'IstSonstige': 'IstSonstig'}, inplace=True)
#checking if the changes worked
#df_2019.info()

In [90]:
df_2018.rename(columns={'OBJECTID_1': 'OBJECTID'}, inplace=True)

#checking if the changes worked
#df_2018.info()

In [91]:
df_2017.drop(df_2017.columns[1], axis=1, inplace=True)
df_2017.rename(columns={'LICHT': 'ULICHTVERH'}, inplace=True)
#checking if the changes worked
#df_2017.info()

In [92]:
#Löschen der Spalten, die nicht mit den anderen übereinstimmen
df_2016.rename(columns={'IstStrasse': 'STRZUSTAND'}, inplace=True)
df_2016.drop('FID', axis=1, inplace=True)

#checking if the changes worked
#df_2016.info()

#Combining data to one dataframe

In [93]:
# new dataframe (alle Jahre)
dfs = [df_2016, df_2017, df_2018, df_2019]
df_concat = pd.concat(dfs)

In [94]:
df_concat.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 827140 entries, 0 to 268369
Data columns (total 24 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   OBJECTID    827140 non-null  int64
 1   ULAND       827140 non-null  int64
 2   UREGBEZ     827140 non-null  int64
 3   UKREIS      827140 non-null  int64
 4   UGEMEINDE   827140 non-null  int64
 5   UJAHR       827140 non-null  int64
 6   UMONAT      827140 non-null  int64
 7   USTUNDE     827140 non-null  int64
 8   UWOCHENTAG  827140 non-null  int64
 9   UKATEGORIE  827140 non-null  int64
 10  UART        827140 non-null  int64
 11  UTYP1       827140 non-null  int64
 12  ULICHTVERH  827140 non-null  int64
 13  STRZUSTAND  827140 non-null  int64
 14  IstRad      827140 non-null  int64
 15  IstPKW      827140 non-null  int64
 16  IstFuss     827140 non-null  int64
 17  IstKrad     827140 non-null  int64
 18  IstGkfz     631911 non-null  float64
 19  IstSonstig  827140 non-null  int64
 20  LINREFX     827140 non-null  object
 21  LINREFY     827140 non-null  object
 22  XGCSWGS84   827140 non-null  object
 23  YGCSWGS84   827140 non-null  object
dtypes: float64(1), int64(19), object(4)
memory usage: 157.8+ MB

In [95]:
df_concat.describe()

,OBJECTID,ULAND,UREGBEZ,UKREIS,UGEMEINDE,UJAHR,UMONAT,USTUNDE,UWOCHENTAG,UKATEGORIE,UART,UTYP1,ULICHTVERH,STRZUSTAND,IstRad,IstPKW,IstFuss,IstKrad,IstGkfz,IstSonstig
count,827140.00000,827140.000000,827140.000000,827140.000000,827140.000000,827140.000000,827140.000000,827140.000000,827140.000000,827140.000000,827140.000000,827140.000000,827140.000000,827140.000000,827140.000000,827140.000000,827140.000000,827140.000000,631911.000000,827140.000000
mean,107618.05428,7.485727,2.780850,41.650878,74.444528,2017.721686,6.719216,13.267426,4.100752,2.790679,3.962610,3.844081,0.436658,0.282557,0.260616,0.810794,0.088249,0.143469,0.051327,0.109625
std,66672.85815,3.522928,2.251166,25.728318,114.846793,1.102954,3.235969,4.805245,1.870905,0.431494,2.562454,2.120376,0.793444,0.500551,0.438971,0.391673,0.283656,0.350551,0.220664,0.312422
min,1.00000,1.000000,0.000000,1.000000,0.000000,2016.000000,1.000000,0.000000,1.000000,1.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,51697.00000,5.000000,1.000000,16.000000,0.000000,2017.000000,4.000000,10.000000,3.000000,3.000000,2.000000,2.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000
50%,103393.00000,8.000000,3.000000,37.000000,22.000000,2018.000000,7.000000,14.000000,4.000000,3.000000,4.000000,3.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000
75%,156228.00000,9.000000,4.000000,62.000000,118.000000,2019.000000,9.000000,17.000000,6.000000,3.000000,5.000000,6.000000,0.000000,1.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000
max,268370.00000,16.000000,9.000000,91.000000,718.000000,2019.000000,12.000000,23.000000,7.000000,3.000000,9.000000,7.000000,2.000000,2.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

#Filtering relevant data for project

In [96]:
#Filtering only data from Hamburg and bike accidents
df = df_concat.loc[(df_concat['IstRad'] == 1) & (df_concat['ULAND']==2)]

In [97]:
df.describe()

,OBJECTID,ULAND,UREGBEZ,UKREIS,UGEMEINDE,UJAHR,UMONAT,USTUNDE,UWOCHENTAG,UKATEGORIE,UART,UTYP1,ULICHTVERH,STRZUSTAND,IstRad,IstPKW,IstFuss,IstKrad,IstGkfz,IstSonstig
count,9019.000000,9019.0,9019.000000,9019.000000,9019.000000,9019.000000,9019.000000,9019.000000,9019.000000,9019.000000,9019.000000,9019.000000,9019.000000,9019.000000,9019.0,9019.000000,9019.000000,9019.000000,6839.000000,9019.000000
mean,114268.746757,2.0,3.336179,6.573013,348.808848,2017.525225,6.855305,13.233285,4.062535,2.905200,3.628784,3.799867,0.321100,0.227852,1.0,0.681894,0.082271,0.010201,0.020471,0.088480
std,42798.115215,0.0,1.702043,4.626534,168.811413,1.118456,2.949343,4.578789,1.696236,0.297089,1.948812,1.786564,0.699784,0.435806,0.0,0.465767,0.274792,0.100488,0.141615,0.284007
min,6023.000000,2.0,1.000000,1.000000,101.000000,2016.000000,1.000000,0.000000,1.000000,1.000000,0.000000,1.000000,0.000000,0.000000,1.0,0.000000,0.000000,0.000000,0.000000,0.000000
25%,97697.000000,2.0,2.000000,3.000000,212.000000,2017.000000,5.000000,9.000000,3.000000,3.000000,3.000000,2.000000,0.000000,0.000000,1.0,0.000000,0.000000,0.000000,0.000000,0.000000
50%,124491.000000,2.0,3.000000,5.000000,320.000000,2018.000000,7.000000,14.000000,4.000000,3.000000,5.000000,3.000000,0.000000,0.000000,1.0,1.000000,0.000000,0.000000,0.000000,0.000000
75%,128307.000000,2.0,5.000000,9.000000,508.000000,2019.000000,9.000000,17.000000,5.000000,3.000000,5.000000,6.000000,0.000000,0.000000,1.0,1.000000,0.000000,0.000000,0.000000,0.000000
max,163331.000000,2.0,7.000000,20.000000,718.000000,2019.000000,12.000000,23.000000,7.000000,3.000000,9.000000,7.000000,2.000000,2.000000,1.0,1.000000,1.000000,1.000000,1.000000,1.000000

In [98]:
#Making the data more "readable" with clear names instead of number codes
#Renaming districs
df.loc[df["UREGBEZ"]==1, "UREGBEZ"] = "HH-Mitte"
df.loc[df["UREGBEZ"]==2, "UREGBEZ"] = "Altona"
df.loc[df['UREGBEZ']==3, "UREGBEZ"] = "Eimsbüttel"
df.loc[df['UREGBEZ']==4, "UREGBEZ"] = "HH-Nord"
df.loc[df['UREGBEZ']==5, "UREGBEZ"] = "Wandsbek"
df.loc[df['UREGBEZ']==6, "UREGBEZ"] = "Bergdorf"
df.loc[df['UREGBEZ']==7, "UREGBEZ"] = "Harburg"

C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)

In [99]:
#NICHT SICHER OB DAS DIE ANALYSE DANACH VERHINDERT!!

#Renaming the accident category
#df.loc[df["UKATEGORIE"]==1, "UREGBEZ"] = "accident with fatalities"
#df.loc[df["UKATEGORIE"]==2, "UREGBEZ"] = "accident with serious injuries"
#df.loc[df["UKATEGORIE"]==3, "UREGBEZ"] = "accident with minor injuries"

In [100]:
print(df)

        OBJECTID  ULAND     UREGBEZ  UKREIS  UGEMEINDE  UJAHR  UMONAT  \
6188        6189      2    Bergdorf       2        603   2016       4
6572        6573      2     HH-Nord       2        405   2016       2
6589        6590      2     HH-Nord       8        418   2016       3
6606        6607      2  Eimsbüttel       6        318   2016       3
6695        6696      2      Altona       9        221   2016       1
...          ...    ...         ...     ...        ...    ...     ...
163316    163317      2      Altona       5        215   2019      12
163319    163320      2    HH-Mitte      18        139   2019      12
163321    163322      2  Eimsbüttel       2        312   2019      12
163323    163324      2     Harburg      14        715   2019      12
163330    163331      2    Wandsbek       5        513   2019      12

        USTUNDE  UWOCHENTAG  UKATEGORIE  ...  IstRad  IstPKW  IstFuss  \
6188         15           2           3  ...       1       1        0
6572         15           4           3  ...       1       1        0
6589         14           6           3  ...       1       0        1
6606         13           7           3  ...       1       1        0
6695          8           6           3  ...       1       1        0
...         ...         ...         ...  ...     ...     ...      ...
163316        0           1           3  ...       1       0        0
163319        5           7           3  ...       1       1        0
163321       15           1           3  ...       1       1        0
163323        7           6           3  ...       1       1        0
163330        8           6           3  ...       1       1        0

        IstKrad  IstGkfz  IstSonstig                 LINREFX  \
6188          0      0.0           0  582353.394399999990000
6572          0      0.0           0  565114.366000000040000
6589          0      0.0           0  567467.747500000060000
6606          0      0.0           0  562842.417900000000000
6695          0      0.0           0  555294.017299999950000
...         ...      ...         ...                     ...
163316        0      0.0           0  561486.715081439350000
163319        0      0.0           0  564148.370146343480000
163321        0      0.0           0  565546.308511899780000
163323        0      0.0           0  556730.151350956410000
163330        0      0.0           0  573846.282999999820000

                        LINREFY           XGCSWGS84           YGCSWGS84
6188    5926138.468299999800000  10.240903380000001  53.477779904000002
6572    5939258.010700000500000   9.983922804000001  53.598103684000002
6589    5937257.759899999900000  10.019045340000000  53.579829556000000
6606    5941421.184999999600000   9.950033651000000  53.617822046999997
6695    5936479.404400000300000   9.835057024999999  53.574258757000003
...                         ...                 ...                 ...
163316  5935815.524420011800000   9.928436382000029  53.567602927000053
163319  5932462.530353844200000   9.967932663000056  53.537149892000059
163321  5935197.450059652300000   9.989595971000028  53.561556742000050
163323  5924724.042118394700000   9.854613961000041  53.468452494000076
163330  5937766.195000002200000  10.115489026000034  53.583539502000065

[9019 rows x 24 columns]

In [101]:
#Exporting data as a single file
df.to_csv(r'merged_data_all_years.csv', index = False, sep=";")